body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
    margin: 0;
}

.side {
    background: rgb(255, 255, 255);
    grid-column: 1 / 2;
    grid-row: span;
}

.main {
    display: grid;
    grid-template-rows: 15% 85%;
   
    grid-column: 2;
    grid-row: span;
}

.header {
    background: yellow;
}

.projects {
    background: rgb(205, 100, 205);
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    margin: 40px;
}

.content1 {
    background-color: rgb(255, 255, 255);
    grid-area: 1 / 1 / 2 / 2;
}

.content2 {
    background-color: rgb(255, 255, 255);
    grid-area: 1 / 2 / 2 / 3;
}

.content3 {
    background-color: rgb(255, 255, 255);
    grid-area: 1 / 3 / 2 / 2;
}
.content1 {
    background-color: rgb(255, 255, 255);
    grid-area: 1 / 1 / 2 / 2;
}
.content1 {
    background-color: rgb(255, 255, 255);
    grid-area: 1 / 1 / 2 / 2;
}